.container{
  display: flex;
  justify-content:center;
  align-items: center;
    flex-wrap: wrap;
  height: 400px;
  border: 1px solid;
  gap: 35px;
  background-color: #f0f0f0;
}
div div{

  background-color: #4CAF50;
  color: white;
  padding: 20px;
  width: 20%;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    
  text-align: center;
  border: 1px solid;
 
}
.box1{
    order: 1;
    flex-shrink: 4;
    flex-basis:50%;
}
.box4{
  order: 3;  
  flex-shrink: 3;
}